@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0 !important;
}
body {
  overflow: -moz-scrollbars-none;
}
body {
  -ms-overflow-style: none;
}

.mask-circle {
  mask-image: linear-gradient(to bottom, black 50%, transparent 50%);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 50%);
}
